<!--TODO: remove this since it's kind of weird and also on the website?-->
<ion-view view-title="About Us">
    <ion-content>
        <div class="card">
            <div class="item item-body">
                <img class="full-image" src="img/feature.png">
                <p>
                    Samesies was conceptualized in October of 2014. The founders
                    were talking about a medium for asking a question where both
                    parties wouldn't know the answer until both of them had
                    responded. One of them mentioned it might be fun in a game
                    format. After a few months of sitting on the idea, they finally
                    got off their lazy asses and got it done.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-avatar">
                <img src="img/paul.jpg">
                <h2>Paul Rice</h2>
                <p>Cofounder, DFA Enterprises</p>
            </div>

            <div class="item item-text-wrap">
                <p>
                    Paul graduated from Hamline University in 2014 with majors in
                    computer science and economics. He currently works in Big Data
                    and is interested in markets, machine learning, and the intersection
                    of the two. He is big fan of ping pong, the Minnesota timberwolves,
                    and Oliver Heldens.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-avatar">
                <img src="img/ari.jpg">
                <h2>Ari Weiland</h2>
                <p>Cofounder, DFA Enterprises</p>
            </div>

            <div class="item item-text-wrap">
                <p>
                    Ari is currently a junior at Macalester College in Saint Paul, MN.
                    He is studying physics and computer science. Ari is the co-president
                    of the Scrabble club, and enjoys playing video games, listening to music,
                    and working on interesting projects.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-body">
                We'd also like to thank...
                <p>Paul Cantrell for being so helpful at the Macalester Dev Garden. Anyone
                    working on a software project would benefit from his guidance and suggestions.</p>
                <p>Jeremy Weiland for his contributions to our design work. Your comments and suggestions
                    about color and style were only eclipsed by your actual designs.</p>
                <p>Kate Gardner for her support of many asinine ideas before a good one.</p>
                <p>Carly, Rowan, Marshall, and Marium for being so supportive and helpful
                    as friends and test subjects.</p>
                <p>Nino, John Mayers, Afton, Claire, and Audra for your valuable insights.</p>
            </div>
        </div>
    </ion-content>
</ion-view>

