<ion-view view-title="Messages" ng-controller="MessagesCtrl">
    <ion-content scroll="false">
        <ion-header-bar class="bar-stable item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" ng-model="search" placeholder="Search">
            </label>
        </ion-header-bar>
        <ion-content>
            <ss-loading ng-show="loading('chats')"></ss-loading>
            <div class="row hidden-grid" ng-repeat="chat in data('chats') | checkName:search | orderBy:'lastModified':true">
                <div class="col col-90">
                    <div class="item item-avatar" ng-click="goChat(chat)" on-swipe-left="goChat(chat)">
                        <img ng-src="{{chat.user.avatar}}">
                        {{dispName(chat.user)}}
                        <p ng-show="chat.user.name">{{chat.user.alias}}</p>
                        <span class="badge badge-royal" ng-show="showBadge(chat)">!</span>
                    </div>
                </div>
                <div class="col col-10">
                    <div class="item" ng-click="remove(chat)">
                        <button class="button button-clear button-small button-icon small-icon ion-close-round"></button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
