<ion-view view-title="Connections" ng-controller="ConnectionsCtrl">
	<ion-content>
		<div class="item item-divider">
			Requests
		</div>
		<ss-loading ng-show="loading('connections')"></ss-loading>
		<div class="item item-avatar item-button-right" ng-repeat="cxn in data('connections') | requestConnections | orderBy:'lastModified':true"
			 ng-click="accept(cxn)">
			<img ng-src="{{cxn.user.avatar}}">
			{{dispName(cxn.user)}}
			<p>Mode: {{cxn.settings.mode}}</p>
			<div class="buttons">
				<button class="button button-round button-stable" ng-click="reject(cxn)">
					<i class="icon ion-close-round"></i>
				</button>
			</div>
		</div>
		<div class="item item-divider">
			Your Turn
		</div>
		<ss-loading ng-show="loading('connections')"></ss-loading>
		<div class="row hidden-grid" ng-repeat="cxn in data('connections') | yourTurnConnections | orderBy:'lastModified':true">
			<div class="col col-90">
				<div class="item item-avatar" ng-click="play(cxn)">
					<img ng-src="{{cxn.user.avatar}}">
					{{dispName(cxn.user)}}
					<span class="item-note">{{dispStage(cxn)}}</span>
					<p>Mode: {{cxn.settings.mode}}</p>
				</div>
			</div>
			<div class="col col-10">
				<div class="item" ng-click="remove(cxn)">
					<button class="button button-clear button-small button-icon small-icon ion-close-round"></button>
				</div>
			</div>
		</div>
		<div class="item item-divider">
			Their Turn
		</div>
		<ss-loading ng-show="loading('connections')"></ss-loading>
		<div class="row hidden-grid" ng-repeat="cxn in data('connections') | pendingConnections | orderBy:'lastModified':true">
			<div class="col col-90">
				<div class="item item-avatar" ng-click="play(cxn)">
					<img ng-src="{{cxn.user.avatar}}">
					{{dispName(cxn.user)}}
					<span class="item-note">{{dispStage(cxn)}}</span>
					<p>Mode: {{cxn.settings.mode}}</p>
				</div>
			</div>
			<div class="col col-10">
				<div class="item" ng-click="remove(cxn)">
					<button class="button button-clear button-small button-icon small-icon ion-close-round"></button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
