<ion-view view-title="Profile" ng-controller="ProfileCtrl">
	<ion-content>
		<div class="list card">
			<div class="item item-thumbnail-left">
				<img ng-src="{{data('tempUser').avatar}}">
				<h1>{{dispName(data('tempUser'))}}</h1>
				<p ng-show="data('tempUser').name">{{data('tempUser').alias}}</p>
			</div>
			<div class="item item-body" ng-show="hasBody()">
				<span ng-show="data('tempUser').aboutMe">{{data('tempUser').aboutMe}}</span>
				<p>
					<span ng-show="data('tempUser').gender">Gender: {{data('tempUser').gender}}</span>
					<span class="float-right" ng-show="data('tempUser').age">Age: {{data('tempUser').age}}</span>
				</p>
			</div>
			<div class="item item-body" ng-show="hasQuestions()">
				Personal Questions:
				<p ng-repeat="question in data('tempUser').questions track by $index" ng-show="question">{{question}}</p>
			</div>
			<div class="item" ng-show="showOneButton()">
				<button class="button button-block button-royal" ng-click="connect(data('tempUser'))">Connect!</button>
			</div>
			<div class="row padding-horizontal" ng-show="showTwoButtons()">
				<div class="col">
					<button class="button button-block button-stable" ng-click="message()">Message</button>
				</div>
				<div class="col">
					<button class="button button-block button-royal" ng-click="connect(data('tempUser'))">Connect!</button>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>

