<ion-view view-title="Communities" ng-controller="CommunitiesCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-icon" ng-click="showHelp($event)">
            <i class="icon ion-help"></i>
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <!--Eventually allow community selection via this header-->
        <div class="bar bar-header bar-stable" ng-click="showSelect($event)">
            <div class="title">{{community.location}}</div>
        </div>
        <ion-content class="has-header">
            <div class="item" ng-repeat="user in community.users | filterSelf" ng-click="connect(user)">
                <img class="full-image" src="img/lone_icon.png">
                <h2>{{user.alias}}</h2>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
