<ion-view view-title="Communities" ng-controller="CommunitiesCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-gear-a" ng-click="showSettings()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <ion-header-bar class="bar-stable" ng-click="showSelect($event)">
            <div class="title">{{data('community').location}}</div>
        </ion-header-bar>
        <ion-content>
            <div class="item item-text-wrap">
                Click on a person's picture to make a connection with them.
            </div>
            <div class="item" ng-repeat="user in data('community').users | filterSelf" ng-click="connect(user)">
                <img class="full-image" ng-src="{{user.avatar}}">
                <h2 class="align-center">{{user.alias}}</h2>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
