<ion-view view-title="Connections" ng-controller="ConnectionsCtrl">
	<ion-content>
		<!--TODO: implement removing connections (not just requests)-->
		<div class="item item-divider">
			Requests
		</div>
		<div class="item item-avatar item-button-right" ng-repeat="cxn in data('connections') | requestConnections"
			 ng-click="accept(cxn)">
			<img ng-src="{{cxn.data.partner.avatar}}">
			{{dispName(cxn.data.partner)}}
			<p>Mode: {{cxn.settings.mode}}</p>
			<div class="buttons">
				<button class="button button-round button-stable" ng-click="reject(cxn)">
					<i class="icon ion-close-round"></i>
				</button>
			</div>
		</div>
		<div class="item item-divider">
			Your Turn
		</div>
		<div class="item item-avatar" ng-repeat="cxn in data('connections') | yourTurnConnections" ng-click="play(cxn)">
			<img ng-src="{{cxn.data.partner.avatar}}">
			{{dispName(cxn.data.partner)}}
			<span class="item-note">Stage {{cxn.data.stage}}</span>
			<p>Mode: {{cxn.settings.mode}}</p>
		</div>
		<div class="item item-divider">
			Their Turn
		</div>
		<div class="item item-avatar" ng-repeat="cxn in data('connections') | pendingConnections">
			<img ng-src="{{cxn.data.partner.avatar}}">
			{{dispName(cxn.data.partner)}}
			<span class="item-note">Pending</span>
			<p>Mode: {{cxn.settings.mode}}</p>
		</div>
		<div class="item item-avatar" ng-repeat="cxn in data('connections') | waitingConnections | orderBy:'data.stage'"
			 ng-click="play(cxn)">
			<img ng-src="{{cxn.data.partner.avatar}}">
			{{dispName(cxn.data.partner)}}
			<span class="item-note">Stage {{cxn.data.stage}}</span>
			<p>Mode: {{cxn.settings.mode}}</p>
		</div>
	</ion-content>
</ion-view>
