<ion-view view-title="Edit Profile" ng-controller="EditProfileCtrl">
	<ion-content>
		<div class="item item-divider">
			Core Profile
		</div>
		<div class="item align-right">
			<span class="item-note float-left">Email</span>
			{{data('user').email}}
		</div>
		<div class="item align-right" ng-click="editPassword()">
			<span class="item-note float-left">Password</span>
			••••••••
		</div>
		<div class="item align-right" ng-click="edit('Nickname', 'alias', 'text', true)">
			<span class="item-note float-left">Nickname</span>
			{{data('user').alias}}
		</div>
		<div class="item align-right" ng-click="">
			<!-- **Post-Beta** TODO: eventually add GPS support? -->
			<span class="item-note float-left">Community</span>
			{{data('user').community}}
		</div>
		<div class="item item-avatar-right" ng-click="editAvatar()">
			<img ng-src="{{data('user').avatar}}">
			<span class="item-note float-left">Profile Picture</span>
		</div>
		<div class="item item-divider">
			Optional Profile
		</div>
		<div class="item align-right" ng-click="edit('Name', 'name', 'text')">
			<span class="item-note float-left">Name</span>
			{{data('user').name}}
		</div>
		<div class="item align-right" ng-click="edit('Age', 'age', 'number')">
			<span class="item-note float-left">Age</span>
			{{data('user').age}}
		</div>
		<div class="item align-right" ng-click="editGender()">
			<span class="item-note float-left">Gender</span>
			{{data('user').gender}}
		</div>
		<div class="item align-right" ng-click="edit('About Me', 'aboutMe', 'textarea')">
			<span class="item-note float-left padding-right">About Me</span>
			{{data('user').aboutMe}}
		</div>
		<div class="item item-divider">
			Personal Questions
		</div>
		<div class="item" ng-click="editQuestion($index)" ng-repeat="question in data('user').questions track by $index">
			<span class="item-note float-left" ng-hide="data('user').questions[$index]">Question {{$index+1}}</span>
			{{data('user').questions[$index]}}
		</div>
		<div class="item">
			<button class="button button-block button-royal" ng-click="preview()">Preview</button>
		</div>
	</ion-content>
</ion-view>
