<ion-view view-title="Samesies" ng-controller="EpisodeCtrl">
	<ion-nav-buttons side="right">
		<button class="button button-icon icon ion-help" ng-click="showHelp()"></button>
	</ion-nav-buttons>
	<ion-content on-swipe-left="find()">
		<!-- matching info -->
		<div class="item item-divider">
			{{matchText()}} <span class="item-note">{{episodeData.stage}}/10</span>
		</div>

		<!-- temporary way to initiate the episode with the bot -->
		<div class="item" ng-show="is('matching')">
			<img class="full-image spinner" src="img/icon.png">
		</div>

		<!-- question -->
		<div class="card" ng-show="!is('matching')">
			<div class="item item-text-wrap">
				{{getQuestion()}}
			</div>
		</div>

		<!-- text area for the user to enter an answer -->
		<div class="card" ng-show="is('entry')">
			<form name="answerForm" ng-submit="answerForm.$valid && answer()" novalidate>
				<div class="item item-input-inset">
					<label class="item-input-wrapper">
						<input type="text" maxlength="140" placeholder="Your Answer" ng-model="episodeData.myAnswer" required/>
					</label>
					<button class="button button-small button-royal" type="submit">
						Send
					</button>
				</div>
			</form>
		</div>

		<!-- user's answer -->
		<div class="card" ng-show="is('waiting') || is('continue')">
			<div class="item item-divider">
				You
			</div>
			<div class="item item-text-wrap">
				{{episodeData.myAnswer}}
			</div>
		</div>

		<!-- other user's answer -->
		<div class="card" ng-show="is('waiting') || is('continue')">
			<div class="item item-divider item-icon-left align-right">
				<i class="icon ion-loading-c" ng-show="is('waiting')"></i>
				{{dispName(episodeData.partner)}}
			</div>
			<div class="item item-text-wrap">
				{{episodeData.theirAnswer}}
			</div>
		</div>

		<!-- continue button -->
		<div class="item" ng-show="is('continue')">
			<button class="button button-block button-large button-royal" ng-click="next()">
				Continue
			</button>
		</div>
	</ion-content>
</ion-view>
