<ion-view view-title="Feedback" ng-controller="FeedbackCtrl">
    <ion-content>
        <div class="item item-text-wrap">
            Hello, and thank you for playing Samesies! We, the developers Ari and Paul,
            would love to here what you think about our app.  What you like, what you
            don't like, suggestions that you think would improve the app. So please,
            take a minute and fill out the following completely anonymous survey to
            make Samesies the best it can be.
        </div>
        <div class="item item-text-wrap">
            Click on questions to answer them.
        </div>
        <div class="item item-text-wrap">
            Answer as much or as little of the survey as you want. Anything is helpful.
        </div>
        <div class="item item-divider">
            General Thoughts
        </div>
        <label class="item item-input">
            <span class="input-label label-text-wrap-80">
                On a scale of 0 to 10, how much do you enjoy playing Samesies?
            </span>
            <input type="number" placeholder="0-10" ng-model="feedback.enjoy" min="0" max="10">
        </label>
        <label class="item item-input item-stacked-label feedback-label">
            <span class="input-label label-text-wrap">What, if anything, do you like about Samesies?</span>
            <textarea rows="3" placeholder="What do you like?" ng-model="feedback.like"></textarea>
        </label>
        <label class="item item-input item-stacked-label feedback-label">
            <span class="input-label label-text-wrap">What, if anything, do you dislike about Samesies?</span>
            <textarea rows="3" placeholder="What do you dislike?" ng-model="feedback.dislike"></textarea>
        </label>
        <div class="item item-divider">
            How do you use Samesies?
        </div>
        <div class="item item-text-wrap" ng-click="selector('Random Use', frequency, 'random')">
            How often do you play Samesies by random match?
            <p class="align-right">{{feedback.random}}</p>
        </div>
        <label class="item item-input">
            <textarea rows="3" placeholder="Comments about random matching" ng-model="feedback.randomComments"></textarea>
        </label>
        <div class="item item-text-wrap" ng-click="selector('Browse Use', frequency, 'browse')">
            How often do you play Samesies by browsing?
            <p class="align-right">{{feedback.browse}}</p>
        </div>
        <label class="item item-input">
            <textarea rows="3" placeholder="Comments about browsing" ng-model="feedback.browseComments"></textarea>
        </label>
        <div class="item item-text-wrap" ng-click="selector('Friend Use', frequency, 'friends')">
            How often do you play Samesies with friends?
            <p class="align-right">{{feedback.friends}}</p>
        </div>
        <label class="item item-input">
            <textarea rows="3" placeholder="Comments about playing with friends" ng-model="feedback.friendsComments"></textarea>
        </label>
        <div class="item item-divider">
            Other Questions
        </div>
        <div class="item item-text-wrap" ng-click="selector('Recommend', yesNo, 'recommend')">
            Would you recommend Samesies to a friend?
            <p class="align-right">{{feedback.recommend}}</p>
        </div>
        <div class="item item-text-wrap" ng-click="selector('Purchase', yesNo, 'buy')">
            <b>We do not expect to ever make Samesies cost money.</b><br/>
            In an alternate reality, would you buy Samesies for 99 cents?
            <p class="align-right">{{feedback.buy}}</p>
        </div>
        <div class="item item-text-wrap" ng-click="selector('Bored', times, 'bored')">
            <b>We do not expect to ever make Samesies cost money.</b>
            In an alternate reality, would you buy Samesies for 99 cents?
            <p class="align-right">{{feedback.bored}}</p>
        </div>
        <div class="item item-text-wrap">
            What if anything might keep you interested longer?
        </div>
        <div class="item item-divider">
            Comments and Suggestions
        </div>
        <!--<div class="item item-text-wrap">-->
            <!--Do you have any suggestions for changes or features for Samesies?-->
        <!--</div>-->
        <label class="item item-input item-stacked-label feedback-label">
            <span class="input-label label-text-wrap">Do you have any suggestions for changes or features for Samesies?</span>
            <textarea rows="3" placeholder="Suggestions" ng-model="feedback.suggestions"></textarea>
        </label>
        <!--<div class="item item-text-wrap">-->
            <!--Is there anything you would really like to see changed? If so, how?-->
        <!--</div>-->
        <label class="item item-input item-stacked-label feedback-label">
            <span class="input-label label-text-wrap">Is there anything you would really like to see changed? If so, how?</span>
            <textarea rows="3" placeholder="Changes" ng-model="feedback.changes"></textarea>
        </label>
        <!--<div class="item item-text-wrap">-->
            <!--Do you have any other comments?-->
        <!--</div>-->
        <label class="item item-input item-stacked-label feedback-label">
            <span class="input-label label-text-wrap">Do you have any other comments?</span>
            <textarea rows="3" placeholder="Other Comments" ng-model="feedback.comments"></textarea>
        </label>
        <div class="item item-divider">
            Demographics
        </div>
        <label class="item item-input">
            <span class="input-label">Age</span>
            <input type="number" ng-model="feedback.age" placeholder="Age" min="0" max="150">
        </label>
        <label class="item item-input">
            <span class="input-label">Gender</span>
            <input type="text" ng-model="feedback.gender" placeholder="Gender">
        </label>
        <div class="item">
            <button class="button button-block button-royal" ng-click="submit()">Submit Feedback!</button>
        </div>
    </ion-content>
</ion-view>