<ion-popover-view ng-controller="FindFriendCtrl">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Find Friends</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <label class="item item-divider item-input item-button-right" ng-keypress="$event.keyCode === 13 && findFriend()">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="email" ng-model="email[0]" placeholder="johndoe@samesies.org">
        </label>
        <div class="item item-avatar" ng-show="tempUser" ng-click="add()">
            <img src="img/lone_icon.png">
            {{tempUser.alias}}
        </div>
        <div class="item">
            <button class="button button-block button-royal" ng-click="findFriend()">Find</button>
        </div>
    </ion-content>
</ion-popover-view>