<ion-modal-view>
    <ion-header-bar class="bar-royal">
        <h1 class="title">Help</h1>
    </ion-header-bar>
    <ion-content>
        <div class="item item-text-wrap">
            You have made a connection!
        </div>
        <div class="item item-text-wrap">
            In each connection, you are matched with a partner, and you will
            both be given the same question. Once you answer the question,
            you may view your partner's answer. Then, when you are ready,
            you can continue to the next question.
        </div>
        <div class="item item-text-wrap">
            After you and your partner complete 10 questions, you will
            be able to freely chat.
        </div>
        <div class="item item-text-wrap" ng-show="!isPersistent()">
            If at any point you wish to make a new connection, simply swipe
            left for a new episode, or swipe right to return to the main
            menu. This will end your previous connection.
        </div>
        <div class="item">
            <button class="button button-block button-royal" ng-click="closeHelp()">
                Okay
            </button>
        </div>
    </ion-content>
</ion-modal-view>

