<ion-modal-view>
	<ion-header-bar class="bar-royal">
		<h1 class="title">Help</h1>
	</ion-header-bar>
	<ion-content>
		<div ng-show="is('menu')">
			<div class="item item-text-wrap" ng-click="toggle()">
				Play <b>Samesies</b>: Get to know someone new. 
				<p ng-show="!isToggled()">Click for more details.</p>
				<div class="card" ng-show="isToggled()">
					<div class="item item-divider">
						Game Modes
					</div>
					<div class="item item-text-wrap">
						<b>Random</b>: You and your partner are given 10 random 
						questions to answer.
					</div>
					<div class="item item-text-wrap">
						<b>Personal</b>: You and your partner are given each 
						other's personal questions to answer.
					</div>
				</div>
			</div>
			<div class="item item-text-wrap">
				View Friends: View your list of new friends, or add new ones.
			</div>
			<div class="item item-text-wrap">
				Play Pending Connections: Continue episodes you've started with friends.
			</div>
			<div class="item item-text-wrap">
				Edit Profile: Edit information about you.
			</div>
			<div class="item item-text-wrap">
				Browse Questions: Look through our databases of questions.
			</div>
		</div>
		<div ng-show="is('episode')">
			<div class="item item-text-wrap">
				You are in an episode!
			</div>
			<div class="item item-text-wrap">
				In each episode, you will be matched with someone in your
				community, and you will both be given the same question. Once
				you answer the question, you may view your partner's answer.
				Then, when you are ready, you can continue to the next question.
			</div>
			<div class="item item-text-wrap">
				After you and your partner complete 5 questions, you will 
				be taken to a free chat.
			</div>
			<div class="item item-text-wrap">
				If at any point you wish to end the episode, simply swipe 
				left for a new episode, or swipe right to return to the main 
				menu.
			</div>
		</div>
		<div ng-show="is('edit')">
			<div class="item item-text-wrap">
				Edit your Samesies Profile.
			</div>
			<div class="item item-text-wrap">
				Your core profile is all that you need to play <b>Samesies</b>.
				Update your password, change the alias or profile picture 
				that connections see you as, or move your location.
			</div>
			<div class="item item-text-wrap">
				Your optional profile contains additional details you can choose to
				share with your friends. Add your real name, your age, your gender, 
				or a short blurb about yourself.
			</div>
			<div class="item item-text-wrap">
				Your personal questions are a list of 5 questions that are used when
				playing the <b>Personal</b> game mode. You must have all 5 questions
				filled out to play.
			</div>
		</div>
		<div ng-show="is('browse')">
			<div class="item item-text-wrap">
				Browse through our massive database of interesting questions.
			</div>
			<div class="item item-text-wrap">
				Use the search bar to search through questions by word or phrase.
			</div>
			<div class="item item-text-wrap">
				Use the category selector next to the search bar to filter the
				questions by category.
			</div>
		</div>
		<div class="item">
			<button class="button button-block button-royal" ng-click="close('help')">
				Okay
			</button>
		</div>

		<!-- debug info -->
		<div class="card" ng-hide="true">
			<div class="item item-divider">
				Debug:
			</div>
			<div class="item item-text-wrap">
				<p>{{episode}}</p>
				<p>{{error}}</p>
				<p>{{episodeData.state}}</p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>

