<ion-modal-view ng-controller="LoginCtrl">
    <ion-header-bar class="bar-royal">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content ng-keypress="$event.keyCode === 13 && loginShortcut()">
        <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="loginData.email" placeholder="johndoe@samesies.org" autofocus>
        </label>
        <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password" placeholder="••••••••">
        </label>
        <div ng-show="isToggled()">
            <label class="item item-input">
                <span class="input-label">Confirm</span>
                <input type="password" ng-model="loginData.confirmPassword" placeholder="••••••••">
            </label>
            <label class="item item-input">
                <span class="input-label">Location</span>
                <input type="text" ng-model="loginData.location" placeholder="Location" readonly>
            </label>
            <label class="item item-input">
                <span class="input-label">Alias</span>
                <input type="text" ng-model="loginData.alias" placeholder="Alias">
            </label>
            <label class="item item-input">
                <span class="input-label">Login Key</span>
                <input type="text" ng-model="loginCheck.key" placeholder="Key">
            </label>
            <ion-checkbox ng-model="loginCheck.accept" class="item item-checkbox-right checkbox-royal">Accept Terms and Conditions</ion-checkbox>
            <div class="item item-text-wrap">
                <!--TODO: change to ToC url when website is working-->
                Terms and Conditions may be viewed on our website at <a href="" browse-to="http://samesies.org">samesies.org</a>
            </div>
        </div>
        <div class="item assertive" ng-show="loginData.error">
            {{loginData.error}}
        </div>
        <div class="item" ng-show="isLoading">
            <h1 class="align-center"><i class="icon ion-loading-c"></i></h1>
        </div>
        <div ng-show="isToggled()">
            <div class="row padding-horizontal" ng-show="!isLoading">
                <div class="col">
                    <button class="button button-block button-stable" ng-click="toggle()">Cancel</button>
                </div>
                <div class="col">
                    <button class="button button-block button-royal" ng-click="createAccount()">Create!</button>
                </div>
            </div>
            <div class="item item-text-wrap">
                Samesies is currently in a closed Beta testing cycle. In order to
                create an account a user must have the correct login validation key.
            </div>
        </div>
        <div ng-show="!isToggled()">
            <div class="item" ng-show="!isLoading">
                <button class="button button-block button-royal" ng-click="doLogin()">Log in</button>
            </div>
            <div class="item">
                <a href="" ng-click="toggle()">Create Account</a>
                <span class="float-right"><a href="" ng-click="recoverPassword()">Forgot your Password?</a></span>
            </div>
        </div>

    </ion-content>
</ion-modal-view>
