<ion-view view-title="Menu" ng-controller="MenuCtrl">
	<ion-nav-buttons side="left">
		<button class="button button-clear" ng-click="logout()">
			Log Out
		</button>
	 </ion-nav-buttons>
	<!--<ion-nav-buttons side="right">-->
		<!--<button class="button button-icon" ng-click="show('help')">-->
			<!--<i class="icon ion-help-circled"></i>-->
		<!--</button>-->
	<!--</ion-nav-buttons>-->
	<ion-content>
		<div class="list">
			<div class="row hidden-grid">
				<div class="col col-80">
					<a class="item item-icon-left" href="#/play">
						<i class="icon ion-play"></i>
						Play Samesies!
					</a>
				</div>
				<div class="col col-20">
					<a class="item item-icon-left" href="">
						<span class="item-note" ng-click="showMode($event)">{{data('mode')}}</span>
					</a>
				</div>
			</div>
			<a class="item item-icon-left" href="#/communities">
				<i class="icon ion-ios7-people"></i>
				Browse Communities
			</a>
			<a class="item item-icon-left" href="#/friends">
				<i class="icon ion-person-add"></i>
				View Friends
				<!--Eventually this needs to be friend REQUESTS-->
				<span class="badge badge-royal">{{getFriendRequestCount()}}</span>
			</a>
			<a class="item item-icon-left" href="#/connections">
				<i class="icon ion-loop"></i>
				Play Pending Connections
				<span class="badge badge-royal">{{getConnectionCount()}}</span>
			</a>
			<a class="item item-icon-left" href="#/questions">
				<i class="icon ion-help"></i>
				Browse Questions
			</a>
			<a class="item item-icon-left" href="#/edit-profile">
				<i class="icon ion-edit"></i>
				Edit Profile
			</a>
		</div>
	</ion-content>
</ion-view>

