<ion-modal-view>
	<ion-header-bar class="bar-royal">
		<button class="button button-clear" ng-click="logOut()">
			Log Out
		</button>
		<h1 class="title">Menu</h1>
		<button class="button button-icon" ng-click="show('help')">
			<i class="icon ion-help"></i>
		</button>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item" ng-click="find()">
				Play Samesies!
			</div>
			<div class="item" ng-click="go('nearby')">
				Browse Nearby
			</div>
			<div class="item" ng-click="go('friends')">
				View Friends
			</div>
			<div class="item" ng-click="goConnections()">
				Play Pending Connections
			</div>
			<div class="item" ng-click="go('edit')">
				Edit Profile
			</div>
			<div class="item" ng-click="go('browse')">
				Browse Questions
			</div>
		</div>

		<!-- debug info -->
		<div class="card" ng-hide="true">
			<div class="item item-divider">
				Debug:
			</div>
			<div class="item item-text-wrap">
				<p>{{getStatus()}}</p>
				<p>{{user}}</p>
			</div>
		</div>
	</ion-content>
</ion-modal-view>

