<div class="list">
	<label class="item item-input">
		<input type="password" ng-model="tempData.password" placeholder="Old Password"/>
	</label>
	<label class="item item-input">
		<input type="password" ng-model="tempData.newPassword" placeholder="New Password"/>
	</label>
	<label class="item item-input">
		<input type="password" ng-model="tempData.confirmPassword" placeholder="Confirm Password"/>
	</label>
	<div class="item assertive" ng-show="tempData.error()">
		{{tempData.error()}}
	</div>		
</div>
